<launch>

    <arg name="throttle" default="0.0" />
    <arg name="steering" default="0.0" />
    <arg name="timeout" default="inf" />

    <include file="$(find gudrun_sensors)/launch/ultrasound.launch" />
    <!--<include file="$(find gudrun_motor)/launch/fixed_speed.launch" pass_all_args="true" />-->
    <node 
        type="speed_record.py" 
        name="speed_record" 
        pkg="gudrun_motor" 
        output="screen"
        >
        <param name="throttle" value="$(arg throttle)" />
        <param name="steering" value="$(arg steering)" />
        <param name="timeout" value="$(arg timeout)" />
    </node>

</launch>
