<launch>
	<!-- TODO: Make these transforms make more sense. -->
    <node pkg="tf" type="static_transform_publisher" name="imu_mount_pose" args="-.044 0 .156 -1.57079 .1  -0.05  base_link imu_link 100" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="imu_mount_pose" args="0 .044 -.156 1.57079 0.05 -.1   imu_link base_link 100" /> -->
    
    <node type="imu_driver.py" name="imu_driver" pkg="gudrun_sensors" output="screen"/>

    <!-- The sensor-fusion performed by the Adafruit libraries is lacking, 
    so I'll do it instead on the main PC with this package. -->
    <node type="imu_filter_node" name="imu_filter_node" pkg="imu_filter_madgwick" output="screen">
    	<param name="gain" value=".2"/>
    	<param name="stateless" value="false" />

    	<!-- There's a lot of magnetic fields near the sensor, so we'll leave this out for now. 
		However, eventually, we might want to see if this can be calibrated away.-->
    	<param name="use_mag" value="false" />

        <param name="orientation_stddev" value="0.001" />

        <remap from="imu/data_raw" to="/imu/data_raw" />
        <remap from="imu/mag" to="/imu/mag" />

        <!-- For diagnostiic purposes, first of these could be set to true: -->
        <param name="publish_tf" value="false" /> 
        <param name="reverse_tf" value="true" />

        <param name="fixed_frame" value="odom" />
    </node>
</launch>