<!-- Top-level launch file for starting everything but teleop. -->
<launch>
    <include file="$(find gudrun)/launch/rs_rtabmap.launch"/>

    <include file="$(find gudrun)/launch/plan_mux.launch" />

    <node pkg="topic_tools" name="camera_throttle" type="throttle" args="messages /d400/color/image_raw 1 /d400_camera_throttled" />

    <node pkg="topic_tools" name="depth_throttle" type="throttle" args="messages /d400/depth/image_rect_raw 1 /d400_depth_throttled" />

</launch>
