<!-- Translate Twist movement commands into Ackermann commands the base can follow, and execute them with PID control. -->
<launch>
    <include file="$(find gudrun)/launch/motor/driver_encoder.launch" />
    
    <arg name="cmd_vel_topic" default="/cmd_vel"/>
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>

    <node pkg="gudrun" type="cmd_vel_to_ackermann_drive" name="cmd_vel_to_ackermann_drive" output="screen" />
    <node type="ackermann_motor_controller" name="ackermann_motor_controller" pkg="gudrun" output="screen">
        <rosparam file="$(find gudrun)/config/ackerman_motor_controller.yaml" command="load" />
    </node>
    
</launch>
