<!--Read a pose objectives topic and translate these moment-by-moment into movement commands.-->
<launch>
		 
	<arg name="cmd_vel_topic" default="/cmd_vel"/>

	<remap from="map" to="/rtabmap/grid_map"/>

    <arg name="node_start_delay" default="2.0"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
		<remap from="cmd_vel" to="$(arg cmd_vel_topic)" />

		<param name="recovery_behavior_enabled" value="false"/> 
		<param name="recovery_behaviour_enabled" value="false"/> 
		<param name="clearing_rotation_allowed" value="false"/>

		<rosparam file="$(find gudrun)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find gudrun)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find gudrun)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find gudrun)/config/global_costmap_params.yaml" command="load" />

		<rosparam file="$(find gudrun)/config/move_base_params.yaml" command="load" />
		<rosparam file="$(find gudrun)/config/move_base_params.yaml" command="load" ns="TrajectoryPlannerROS"/>

		<rosparam file="$(find gudrun)/config/base_local_planner_params.yaml" command="load" />
		<rosparam file="$(find gudrun)/config/base_local_planner_params.yaml" command="load" ns="TrajectoryPlannerROS"/>
		<rosparam file="$(find gudrun)/config/kinematic_geometry.yaml" command="load" />
		<rosparam file="$(find gudrun)/config/kinematic_geometry.yaml" command="load" ns="TrajectoryPlannerROS"/>
		<rosparam file="$(find gudrun)/config/kinematic_geometry.yaml" command="load" ns="TebLocalPlannerROS"/>
	</node>
	
</launch>
